<!-- <div class="calendar-container">
    <div class="calendar-day" *ngFor="let day of days">
      <div class="day-header">{{ day }}</div>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let appointment of getAppointmentsForDay(day); let i = index" 
             cdkDrag [cdkDragData]="appointment">
          {{ appointment.title }} at {{ appointment.time }}
          <button mat-button color="primary" (click)="editAppointment(appointment)">Edit</button>
          <button mat-button color="warn" (click)="deleteAppointment(appointment)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <button mat-fab class="add-button" (click)="openAppointmentForm()">+</button> -->
  

  <div class="calendar-container">
    <div class="calendar-day" *ngFor="let day of days">
      <div class="day-header">{{ day }}</div>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let appointment of getAppointmentsForDay(day); trackBy: trackById" 
     cdkDrag [cdkDragData]="appointment">
  {{ appointment.title }} at {{ appointment.time }}
  <button mat-button color="primary" (click)="editAppointment(appointment)">Edit</button>
  <button mat-button color="warn" (click)="deleteAppointment(appointment)">Delete</button>
</div>
      </div>
    </div>
  </div>
  <button mat-fab class="add-button" (click)="openAppointmentForm()">+</button>
  